.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.title {
  display: flex;
  font-size: 3rem;
  align-items: center;
  border-bottom: 4px solid black; 
  color: black; 
}

.header {
  text-align: center;
  padding: 0.5rem;
  font-size: 3rem;
}

.display-wrapper {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.display {
  padding: 0.7rem;
  display: flex;
  border: 2px dashed black; 
  border-radius: 0.2rem;
  background-color: whitesmoke; 
}

.display h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.buttons .startGame {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 0.7rem 1.4rem;
  border: 2px solid dimgray; 
  color: dimgray; 
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  background-color:  lightgray; 
}

.buttons .startGame:hover {
  color: dimgray;
  border-color: dimgray;
}

.buttons .startGame:active {
  color: gray;
  border-color: gray;
}

.buttons .disabled {
  border: 2px solid gray;
  color: gray;
}
