:root {
  --ship-color: #6e1a1a;
  --ship-sunk-color: #d0c6c6;
  --tile-border-color: #393b44;
  --marked-color: #adadad;
  --valid-color: #8db596;
  --invalid-color: #9f5f80;
  --display-background-color: #ffffff;
  --background-color: #eeeeee;
  --grid-background-color: rgb(181, 171, 235);
  --display-border-color: #333333;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

